body {
    background-color: #f0f8ff;
    color: #333;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: #004d66; 
    padding: 10px 20px;
    text-align: center;
}
.container {
    background-color: #ffffff; 
    padding: 20px;
    margin: 20px auto;
    width: 80%; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    border-radius: 10px; 
}
button {
    width: auto;
    padding: 10px 20px;
    background-color: #0073e6; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #0056b3;
}
.todo-item {
    padding: 10px;
    margin-top: 10px;
    background-color: #e6ffff; 
    border: 2px solid #0073e6; 
    border-radius: 5px;
}
.todo-title {
    font-weight: bold;
}
.todo-completed {
    color: #28a745; 
}
.todo-not-completed {
    color: #dc3545; 
}